@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer utilities {
  .dark\:bg-oklch-dark {
      &:where(.dark, .dark *) {
       background-color: oklch(0.22 0 0);
    } 
  }
}

/* ✅ No @layer needed */
@font-face {
  font-family: "MyFont";
  src: url("/portfolio/public/Rockybilly.ttf") format("truetype");
}

